body {
    font-family: 'montserrat', sans-serif;
}

h1 {
    margin-left: 500px;
    font-size: 50pt;
}

.champ {
    display: flex;
    margin-left: 100px;
    flex-direction: column;
    width: 250px;
    
    
}
#champ {
    height: 50px;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 5px;
}
.valider {
    display: flex;
    height: 50px;
    width: 50px;
    margin-left: 370px;
    margin-top: -50px;
}
.background {
    display: flex;
    background-color: rgb(195, 159, 159);
    border-radius: 20px;
    border-color: black;
    height: 300px;
    width: 1200px;
    margin-left: 100px;
    margin-top: 50px;
}


.titre {
    display: flex;
    margin-top: 30px;
    margin: -5px;
    height: 50px;
}
#titre {
    margin-top: 50px;
    margin-left: 110px;
    font-size: 20pt;

}
button {
    background-color: green;
    margin-left: 1080px;
    height: 50px;
    width: 120px;
    border-radius: 10px;
}