html {
    background: linear-gradient(to bottom,rgb(75, 39, 118), rgb(0, 0, 0));
    height: 100%;
    width: 100%;
}
body {
    font-family: 'montserrat', sans-serif;
    background: none;
    margin-top: -25px;
}

h1 {
    margin-left: 400px;
    font-size: 50pt;
}

.champ {
    display: flex;
    margin-left: 100px;
    flex-direction: column;
    width: 250px;
}
#Prénoms {
    font-size: 20pt;
}
#champ {
    height: 50px;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 5px;
}
.valider {
    display: flex;
    height: 50px;
    width: 50px;
    margin-left: 370px;
    margin-top: -50px;
}
.background {
    display: flex;
    background-color: rgb(116, 116, 116);
    border-radius: 20px;
    border-color: black;
    height: 300px;
    width: 900px;
    margin-left: 100px;
    margin-top: 50px;
}


.titre {
    display: flex;
    margin-top: 30px;
    margin: -5px;
    height: 50px;
}
#titre {
    margin-top: 50px;
    margin-left: 110px;
    font-size: 20pt;

}
.créer {
    display: flex;
    background-color: green;
    margin-left: 1100px;
    margin-top: 15px;
    height: 70px;
    width: 170px;
    border-radius: 10px;
    border-color: black;
    font-size: 15pt;
    align-items: center;

}
.melanger {
    background-color: green;
    margin-left: -450px;
    margin-top: 15px;
    height: 70px;
    width: 170px;
    border-radius: 10px;
    border-color: black;
    font-size: 15pt;
    
}
.bouttons {
    display: flex;
}

.titre2 {
    margin-top: -430px;
    margin-left: 1100px;
    font-size: 20pt;
}
.groupes {
    background-color: rgb(116, 116, 116);
    height: 300px;
    width: 300px;
    margin-left: 1030px;
    margin-top: 15px;
    border-radius: 20px;
}
footer {
    height: 250px;
    position: relative; 
}
.BG-img {
    display: block;
    background-image: url("img/composition-abstraite-de-lumiere-ultraviolette-uv.png");
    background-size: cover;
    height: 250px;
    margin-top: 100px;
}

.adresse {
    display: flex;
    margin-top: 150px;
    margin-left: 350px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    
}

h1, label, p {
    color: #fff;
}

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

ul li {
    padding-right: 8em;
}

dialog {
    padding: 2em;
    border: 4px inset green;
}

dialog div {
    margin: 2px 0 30px 0;
}

#close-dialog {
    display: block;
    margin: 0 auto;
    padding: 10px 32px 10px 32px;
    border: 1px solid green;
    border-radius: 5px;
    background-color: green;
    color: #fff;
}

a {
    color: powderblue;
}

a:visited {
    color: powderblue;
}
* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}